.form-width {
    width: 45rem;
}

#products-container {
    width: 100rem;
}

.card-width {
    width: 20rem;
}

#login-moment {
    width: max-content;
}

.warning-info-alert {
    width: 40rem;
}

/* underline per produdct (Deprecated, not in use) */

#additional-container {
    width: fit-content;
}

#main-info-product {
    width: fit-content;
}

/* Reconocimientos en el footer */
#recognition > * {
    color: white;
}