<%- include ("../partials/main-header") -%>
<title>Añade un producto</title>
<% if (typeof errorProducts !== "undefined") { %>
    <% errorProducts.forEach(function(error) { %>
        <div class="alert alert-warning m-auto mt-3 warning-info-alert" role="alert">
            <h4 class="m-auto"><a href="/product/<%= product.URLName %>" rel="noreferrer nofollow noopener"></a><%= error.text %> </h4>
        </div>
    <%})%>
<%}%>

<div id="admin-warning-alert" class="alert alert-danger m-auto mt-4  border rounded">
  <h4 class="text-center">Aqui solo deberia de entrar el administrador o un usuario con privilegios</h4>
</div>
<div class="form-width border border-3 rounded m-auto mt-5 p-3">
    <form action="/products/saveproducts" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="productName" class="form-label">Nombre del producto</label>
        <input name="name" type="text" class="form-control" placeholder="Ejemplo: Intel Core i5 9700" aria-describedby="productName">
        <div class="form-text">Este nombre del producto sera el que sera mostrado a los usuarios</div>
      </div>
      <div class="mb-3">
        <label for="URLName", class="form-label">Nombre de la URL</label>
        <input name="URLName" type="text" class="form-control" placeholder="Ejemplo: i5 9700">
        <div class="form-text">Este sera el nombre que se vera en el enlace o URL del producto en si</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea name="description" type="textarea" class="form-control" placeholder="Ejemplo: Este procesador cuenta con especificaciones...&#10;Fue lanzado en {fecha}...&#10;Es uno de los procesadores mas vendidos" aria-describedby="description"></textarea>
      </div>
      <div class="mb-3">
        <label for="shortDescription" class="form-label">Descripcion corta</label>
        <input name="shortDescription" type="text" class="form-control" maxlength="60" placeholder="Descripcion corta que se mostrara en la previsualizacion del producto">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio del producto</label>
        <input name="price" type="number" step="any" class="form-control" placeholder="Ejemplo: 200€" aria-describedby="price">
      </div>
      <div class="mb-3">
        <label for="avaible" class="form-label">Cantidad disponible del producto</label>
        <input name="avaible" type="number" class="form-control" placeholder="Ejemplo: 1230" aria-describedby="available">
        <div class="form-text">Este campo indica cuantos productos quedan en disponibles (en existencia o en stock)</div>
      </div>
      <div class="mb-3">
        <label for="vendor" class="form-label">Fabricante del producto (Empresa u organizacion, fabricante del mismo)</label>
        <input name="vendor" type="text" class="form-control" placeholder="Ejemplo: Intel es el vendedor de un i5 9700" aria-describedby="vendor">
      </div>
      <div class=" mb-3">
        <label for="image" class="form-label">Imagen del producto</label>
        <input name="image" type="file" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Crear producto</button>
    </form>
</div>