<%- include ("../partials/main-header") -%>
<title>Home</title>

<div id="main-index-content">
    <h2 class="my-5 text-center">Destacados de la semana</h2>
</div>
<%- include ("../partials/main-footer") -%>