<footer class="bg-dark p-4">
    <div id="footer-content" class="text-white">
        <div id="recognition" class="ms-5">
            <h5>Desarrollado por Halley Software</h5>
        </div>
        <h5>Copyright © 2022 - 2022 - Todos los derechos reservados</h5>
    </div>
</footer>