<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keywords="forraje, domicilio, forraje a domicilio">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css" rel="noreferrer nofollow noopener">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap-bootswatch.css" rel="noreferrer nofollow noopener">
    <link rel="stylesheet" href="/resources/fontawesome/css/all.css" rel="noreferrer nofollow noopener">
    <link rel="stylesheet" href="/css/index.css" rel="noreferrer nofollow noopener">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav ms-5">
                <a class="navbar-brand" href="/" rel="noreferrer nofollow noopener">Electro Chollo</a>
                <li class="nav-item">
                    <a class="nav-link navbar-items text-white" href="/" rel="noreferrer nofollow noopener">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-items text-white" href="/products" rel="noreferrer nofollow noopener">Productos</a>
                </li>
            </ul>
            <div class="dropdown me-5">
                <a class="text-white me-4" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-users fa-2x"><h5 class="float-start me-3 mt-2 text-white">Inicia sesion</h5></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a href="/login/federated/google" class="dropdown-item" rel="noreferrer nofollow noopener">Iniciar Sesión con Google</a>
                        <a class="dropdown-item" href="/register" rel="noreferrer nofollow noopener">Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>